# bits
data/
node*.log

# Nodejs and NPM
node_modules/
npm-debug.log
yarn-error.log

# Bower
app/bower_components/

# polymer-cli
build/
support/scripts/upgrade-server/public/socket.io.js

*.swp

# Webstorm
.idea

# V8 cache
v8-compile-cache-0/
